<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Metro.co.tt"
        version   = "2.0.0">
    <name>Metro Magazine</name>

    <description>
        A mobile application that connects to metro.co.tt
    </description>

    <author href="Guardian Media" email="dewayne.berkeley@guardian.co.tt">
        Dewayne Berkeley
    </author>

    <access origin="*"/>
	<gap:splash src="splash.png" />
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<gap:splash src="splash/blackberry/360-480.png" gap:platform="blackberry"/>

	
	
    <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
    <content src="index.html" />
	
      <preference name="loglevel" value="DEBUG" />
      <preference name="splash-screen" value="splash.png" />
      <preference name="show-splash-screen-spinner" value="true" />
     <preference name="auto-hide-splash-screen" value="true" />
	  <preference name="splash-screen-duration" value="5000" />
      <preference name="backgroundColor" value="0xffffffff" />
  <!--		<preference name="loadUrlTimeoutValue" value="20000" />
      <preference name="InAppBrowserStorageEnabled" value="true" />
      <preference name="disallowOverscroll" value="true" />
    -->
</widget>
